*{
	margin: 0;
	padding: 0;
}
 .wrapper { 
 	position: relative;
 	width:900px;
 	height: 400px;
    margin-left: 200px;
    margin-top: 30px;
    border:2px  solid grey ;
    padding-top: 20px;
    overflow:hidden;
    border-radius: 10px;
   }
   .maincontent{
    width: 100%;
    height: auto;
   }
   
   .tabs__link {
   	color: black;
   	text-decoration: none;
   	display: block;
   	padding: 7px;
   	   }
       .tabs__button{
        border-radius: 10px;
       }
       .tabs .activ{
        background-color: #1FE209;
       }
       .tabs{
      padding-top: 5px;
      width: 860px;
      height: 60px;
      background-color: #A9A9A9;
      border-radius: 10px;
       }
   	.tabs li{
   		margin-left: 3px;
         	}
    h2{

    }
    /*.tabs__item{
      height:100%
          }*/
          .tabs__item{
            display: none;
          }
  .activ{
      display: block;
    }

    
